*{
    background-image: url(https://plus.unsplash.com/premium_photo-1670349273408-50474d2b2312?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: 1200px;
}
body {
    text-align: center;
    background-color:black;
    color:#fff;
    margin-left:720px;
    margin-top: 300px;
    rotate: 7deg;
    width:200px;
}
.banner{
    border: 5px solid #e6560d;
}
.clock{
    margin-top:10px;
    border-radius: 5%;
    height: 30px;
}
.center{
    border:3px solid #fff;
    width: 200px;
}
